@import '../../assets/styles/variabel.scss';




.info-description{

    padding: 25px;
    background-color: $white-color;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
    border-radius: 0.125rem;

    &_content{
        white-space: pre-wrap;
        color: rgba(0,0,0,.8);
        font-size: 1.6rem;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 2.375rem;
    }
}