
.carousel-img img{
    height: 247px;
    object-fit: cover;
}



.banner-item img{
    height: 313px;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}

.swiper-slide img{
    object-fit: contain;
}

