// color

$primary-color:#fd7e14;
$secondary-color:#ff7301;
$white-color:#fff;
$black-color:#000;
$black-color-secondary:#001529;
$container-color:#f5f5f5;
//font size

$small-font:1.4rem;
$normal-font:1.6rem;
$large-font:2rem;


$mb-30:30px;


